<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'light_section', taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'product_category', taxonomies: @taxonomies %>
          <%= render 'search_color' %>
          <%= render 'search_size' %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'sort' %>
          <div class="row">
            <%= render partial: 'product', collection: @products %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- LIGHT SECTION -->
  <%= render 'partners_logo' %>
</div>
<!-- LOGIN MODAL -->
<%= render 'potepan/products/login_modal' %>
<!-- SIGN UP MODAL -->
<%= render 'potepan/products/sign_up_modal' %>
